body {
	font-family: "Open Sans","DejaVu Sans",sans-serif;
}

.hidden {
		display: none;
}

h1 {
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-size: 2.75em;
	border-bottom: 1px solid #ddddd8;
}

h2, h3 {
	color: #ba3925;
}

#container {
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}

thead {
	font-weight: bold;
}

td {
	min-width: 100px;
	padding: 5px;
	border: 1px solid black;
}

.date-cell {
	font-weight: bold;
}

#weeklyStatisticsTable {
	width: 100%;
}
.statistics-row {
	text-align: right;
}

.no-border {
	border: 0px;
}

.input-description {
	font-style: italic;
	text-rendering: optimizeLegibility;
	font-size: 0.75em;
}

.button-label {
	padding: 5px;
	background: white;
	border: none;
	cursor: pointer;
}

.button-label:hover {
	background: #FF0000;
}

.button-label:active {
	background: #CC0000;
}

.button-interrupt {
	padding: 5px;
	background: white;
	border: none;
	cursor: pointer;
}

.button-interrupt:hover {
	background: #FF0000;
}

.button-interrupt:active {
	background: #CC0000;
}
